<h1>Ola <%=name%> </h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<form action="/" method="GET">
    <button type="submit">Volte para a pagina inicial</button>
  </form>

  <img src="/Bronya.png"/>


