<h1>Ola <%=name%> </h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<form action="/cadsap" method="GET">
    <button type="submit">Cadastrar Sapatos</button>
</form>

  
<form action="/logsap" method="GET">
   <button type="submit">Ver registro dos sapatos</button>
</form>