<h1>bem vindo ao meu site</h1>
<form action="./login">
    <input type="submit" value="Login" />
</form>
<br/>
<form action="./register">
    <input type="submit" value="Cadastre-se" />
</form>